body {
    width: 100wh;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    overflow: hidden;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


h1
{
	color: black;
    font-weight: 300;
}


.introduction 
{
    margin-top: 10%;
    line-height: 200px;
    height: 200px;
    /*border: 3px solid green;*/
    text-align: center;
}

/* If the text has multiple lines, add the following: */
.introduction p 
{
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 0%;
    font-size: 80%;	
    color: white;
}

.inputs
{
	width: 100%;
	margin-top: 0%;
	margin-left: 40%;	
	color: white;	
}
input 
{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	border: none;
}
.buttons
{
	width: 100%;
	height: 50%;
	margin-top: 5%;
	margin-left: 40%;
}
.startButton
{
	/*background-color: #AD0EAD;*/
    background-color: orange;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #670867;
    -moz-box-shadow: 0 3px 0 #670867;
    box-shadow: 0 3px 0 #670867;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .8px;
    margin: 1.999rem 0.201rem;
    padding: 0.844rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.startButton:active,
.startButton:hover 
{
    background-color: #8a0b8a;
    -webkit-box-shadow: 0 1px 0 #670867;
    -moz-box-shadow: 0 1px 0 #670867;
    -o-box-shadow: 0 1px 0 #670867;
    box-shadow: 0 1px 0 #670867;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}
.loginButton
{
	text-align: center;
	display: inline-block; 
	width: 10%;
	background-color: orange;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 0 #670867;
	-moz-box-shadow: 0 3px 0 #670867;
	box-shadow: 0 3px 0 #670867;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	letter-spacing: .8px;
	margin: 0.888rem 3.301rem;
	padding: 0.800rem 0.3rem;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);	
}
.loginButton:active,
.loginButton:hover 
{
    background-color: #8a0b8a;
    -webkit-box-shadow: 0 1px 0 #670867;
    -moz-box-shadow: 0 1px 0 #670867;
    -o-box-shadow: 0 1px 0 #670867;
    box-shadow: 0 1px 0 #670867;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}



#intro
{
	margin-bottom: 150%;
	
}

#games
{
	margin-bottom: 52%; 
}

#food
{
	margin-bottom: 52%;
}

#decor
{
    margin-bottom: 50%;
}

#invite
{
    margin-bottom: 60%;
}

.add 
{
    background-color: transparent; 
    color: white; 
    border: 2px solid #4CAF50;
	font-size: 800%;
	padding: 0px 50px;
	height: 210px;	
	position:relative; left:10%; top:-100px;
	display: inline-block;
}

.add:hover 
{
    background-color: #4CAF50;
    color: white;
}
a:link 
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

a:hover 
{
    text-decoration: none;
}

a:active 
{
    text-decoration: none;
}
#formTitle 
{
    line-height: 0px;
    height: 200px;
    /*border: 3px solid green;*/
    text-align: center;
}
#line
{
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 45%;
    margin-top: -20%;
    font-size: 80%;
    color: red;	
}
#form-text-colour
{
	color: white;
	font-size: 120%;
}
#formUp
{
	margin-top: -80px;	
}
#map 
{
  height: 400px;
  width: 100%;
}
.centerText
{
    margin-left: 3%;
}
#formBody
{
    height: 5000px;	
    width: 100wh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    overflow-y: scroll;	
}